.logo {
    width: 100px;
    height: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 200px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}